.buy__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: #fffe;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
  font-weight: 500;
}
.buy__btn a:hover {
  color: var(--primary-color);
}
.buy__btn:active {
  transition: all 0.3s;
  transform: scale(1.1);
}

.form__group input,
.form__group textarea {
  width: 100%;
  border: 1px solid var(--card-bg-02);
  border-radius: 5px;
  padding: 8px 20px;
}
.form__group input:focus {
  outline: none;
}
.form__group {
  margin-bottom: 30px;
}
.form__group {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: coral;
}
.form__group input[type="file"] {
  border: none;
  color: #fffe;
  padding: 0;
}
.auth__form {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
}

.auth__form p {
  margin-top: 30px;
}

.auth__form p a {
  color: rgba(255, 255, 255, 0.735);
}
